server:
  port: 8006
  servlet:
    context-path: /

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://mysql:3306/ecommerce_payments?createDatabaseIfNotExist=true
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/app-realms
          jwk-set-uri: http://keycloak:8080/realms/app-realms/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: payment-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
