server:
  port: 9002
  servlet:
    context-path: /

spring:
  application:
    name: cart-service
  datasource:
    url: jdbc:mysql://localhost:3306/app_db
    username: user
    password: user
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resource server:
        jwt:
          issuer-uri: http://keycloak:8080/realms/app-realms
          jwk-set-uri: http://keycloak:8080/realms/app-realms/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: ${spring.application.name}
    instance-id: ${spring.application.name}
grpc:
  server:
    port: 50052

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.nnson128: DEBUG
