apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: minq3010/api-gateway:latest
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms48m -Xmx96m"
        resources:
          requests:
            memory: "100Mi"
            cpu: "80m"
          limits:
            memory: "200Mi"
            cpu: "150m"
        ports:
        - containerPort: 8888
