apiVersion: v1
kind: Service
metadata:
  name: cart-service
spec:
  ports:
  - port: 9002
    targetPort: 9002
    name: http
  - port: 50052
    targetPort: 50052
    name: grpc
  selector:
    app: cart-service
  type: ClusterIP
