apiVersion: v1
kind: Service
metadata:
  name: frontend
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  selector:
    app: frontend
  type: NodePort
