apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: minq3010/payment-service:latest
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms32m -Xmx64m"
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql:3306/app_db?createDatabaseIfNotExist=true
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-user
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: http://discovery-server:8761/eureka
        - name: SERVER_PORT
          value: "8006"
        resources:
          requests:
            memory: "300Mi"
            cpu: "150m"
          limits:
            memory: "400Mi"
            cpu: "300m"
        ports:
        - containerPort: 8006
