apiVersion: v1
kind: Service
metadata:
  name: payment-service
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  ports:
  - port: 8006
    targetPort: 8006
  selector:
    app: payment-service
  type: ClusterIP
