apiVersion: v1
kind: Service
metadata:
  name: product-service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  ports:
  - port: 8004
    targetPort: 8004
    name: http
  - port: 50051
    targetPort: 50051
    name: grpc
  selector:
    app: product-service
  type: ClusterIP
