apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis-pv
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
  labels:
    type: redis-storage
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/redis"
    type: Directory
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  selector:
    matchLabels:
      type: redis-storage
