apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: minq3010/user-service:latest
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms32m -Xmx80m"
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql:3306/app_db?createDatabaseIfNotExist=true
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-user
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: http://discovery-server:8761/eureka
        - name: SERVER_PORT
          value: "8003"
        # Temporarily disable Keycloak JWT validation for testing
        # - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
        #   value: http://keycloak:8080/realms/app-realms
        resources:
          requests:
            memory: "200Mi"
            cpu: "80m"
          limits:
            memory: "320Mi"
            cpu: "200m"
        ports:
        - containerPort: 8003
